body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 0px;
}

.main {
    padding: 2%;
    padding-top: 1%;
    text-align: justify;
    background-color: rgba(192, 197, 193, 0.227);
}

h2 {
    padding-top: 2%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.list_items {
    padding-bottom: 2%;
    padding-right: 2%;
}

.expDate {
    width: 10%;
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navL {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90px;
}

#navbarL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
}

#header {
    width: 100%;
    height: auto;
    font-weight: 100;
}

#header-name {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}

#headshot {
    height: 225px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sumCol {
    padding: 4%;
    max-width: 60%;
}

.contactImage {
    width: 50%;
    padding-right: 2%;
    text-align: right;
}

.contactDetails {
    text-align: left;
    padding-left: 2%;
}

.info {
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
}

.links::after {
    content: attr(href);
}

#map {
    height: 600px;
    width: 96%;
    margin: 2%;
}

.restaurantList {
    width: 25%;
    padding-left: 2%;
    text-align: left;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.toggle {
    color: grey;
    margin: 0;
}

.projectHeader {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
}

.project {
    transition: height 2s;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: scroll;
}

.project::-webkit-scrollbar {
    display: none;
}

.navS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    padding: 10px;
}

#navbarS {
    transition: height 1s;
    height: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#smallNav {
    display: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #navbarL {
        display: none;
    }

    #smallNav {
        display: block;
    }
}